.wrapper {
    position: relative;
}

.heading {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.group {
    width: 100%;
    min-height: 88vh;
    background: linear-gradient(25deg, rgb(34, 101, 202), rgb(162, 17, 164), rgb(34, 101, 202));
    border-radius: 10px;
    padding: 20px 20px 100px 20px;

    color: #fff;
    font-size: 1rem;
    transition: all 1s;
}

.group-heading {
    color: aqua;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.group-heading:first-child {
    margin-top: 0;
}

.group-item {
    padding: 6px 40px;
    display: flex;
    align-items: center;
}

.item-title {
    width: 150px;
    font-weight: 600;
}

.item-title--password {
    width: 200px;
}

.item-input {
    background-color: rgba(0, 0, 0, 0.364);
    color: #fff;
    min-width: calc(100% - 150px);
    height: 30px;
    border-radius: 6px;
    border: solid 2px transparent;
    padding: 0 10px;
    outline: none;
    font-size: 1rem;

    &:focus {
        border-color: rgb(0, 255, 94);
    }

    &:disabled {
        background-color: transparent;
        border-color: transparent;
        color: #fff;
    }
}

.item--message {
    min-width: calc(100% - 150px);
}

.item-input--username {
    width: 100%;
}

.item-input--password {
    padding-left: 14px;
    min-width: calc(100% - 200px);
}

.item-title--time {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.item-input--time {
    min-width: unset;
    width: 100px;
    margin: 0 10px;
    text-align: center;
}

.update-btn,
.search-btn {
    width: 200px;
    background: linear-gradient(30deg, rgb(220, 227, 4), rgb(243, 37, 37));
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    margin: auto;

    &.disabled {
        background: linear-gradient(30deg, rgb(144, 149, 0), rgb(121, 14, 14));
    }
}
.update-btn--password {
    background: linear-gradient(30deg, rgb(220, 227, 4), rgb(243, 37, 37));
}

.update-btn--password:hover {
    opacity: 0.9;
}

.search-btn {
    width: 100px;
    text-transform: unset;
    border: none;

    &:hover {
        opacity: 0.7;
    }
}

.validate-message {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 0.8rem;
    color: red;
    background-color: #ffffffcc;
    padding: 0 10px;
    border-radius: 4px;
}

// table time
.table-wrapper,
.salary-table-wrapper {
    width: 100%;
    padding: 20px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    animation: tableShow 2s forwards ease-in-out;
    transition: all 2s;
    margin-top: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes tableShow {
    from {
        opacity: 0;
        height: 0;
        padding: 10px 30px;
        transform: translateY(-800px);
    }
    to {
        opacity: 1;
        height: auto;
        padding: 20px 10px;
        transform: translateY(0);
    }
}

.table-headding {
    color: #333;
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin-top: 4px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-height: 300px;
    color: #333;
}

.table-data {
    color: #333;
}

.styled-table th,
.styled-table td {
    text-align: center;
    padding: 8px 10px;
    border-right: solid 1px rgb(121, 118, 118);
}

.styled-table th {
    border: solid 2px #333;
    box-shadow: inset 0 0 20px 0px rgb(185, 184, 184);
}

// .styled-table th:nth-child(4) {
//     width: 95px;
// }

.styled-table td:first-child {
    width: 10px;
    border-left: solid 2px #333;
    text-align: center;
}

.styled-table td:last-child {
    border-right: solid 2px #333;
}

.styled-table tbody tr {
    border-bottom: solid 1px rgb(121, 118, 118);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f35b;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #333;
}

.total-time {
    color: rgb(132, 128, 128);
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}

.total-time-result {
    color: green;
    padding: 0 10px;
    font-size: 1.2rem;
}

// download button
.download-btn {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    font-size: medium;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: all 2s;

    &:hover {
        opacity: 0.8;
    }
}

.download-icon {
    padding: 0 8px;
    color: #28fe24;
}

.group-heading--salary {
    display: inline-block;
    margin-top: 20px;
}

.tongle-show__settings,
.tongle-show__table {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #28fe24;
    margin: 0 20px;
    font-size: 20px;
    background-color: transparent;
    border: solid 1px #28fe24;
    cursor: pointer;

    &:hover {
        transform: rotate(180deg);
    }
}

.salary-user {
    width: 260px;
    height: 30px;
    text-align: center;
    outline: none;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    border: solid 1px transparent;
    background-color: rgba(0, 0, 0, 0.364);
    color: #fff;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
}

// salary table
.salary-table-wrapper {
    display: flex;
    margin: 0 auto;
    width: 794px;
    min-height: 1123px;
    color: #222;
    justify-content: flex-start;
    align-items: flex-start;
}

.salary-heading {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    & > div > i {
        font-weight: 600;
        font-size: 28px;
        background: linear-gradient(to right, rgb(226, 15, 241), #00ffff, red, gold, rgb(0, 255, 0));
        background-clip: text;
        font-style: normal;
        color: transparent;
    }

    .salary-heading-logo {
        display: block;
        width: 100px;
        height: 100px;
    }
}

.salary-table {
    width: 100%;
    color: #333;
    height: auto;
    border: solid 2px #333;
    border-radius: 10px;
    font-family: sans-serif;
}

.salary-table--title {
    border-bottom: solid 1px #333;
    line-height: 3rem;
    text-transform: uppercase;
}

.salary-table-content:last-child {
    .salary-table-content--key,
    .salary-table-content--value {
        border-bottom: solid 1px transparent;
    }
}

.salary-table-content--key {
    width: 60%;
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;

    padding: 0 40px;
    height: 30px;
    border-right: ridge 1px #333;
    border-bottom: ridge 1px rgb(121, 119, 119);
}

.salary-table-content--value {
    padding: 0 30px;
    font-size: 1.2rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: ridge 1px rgb(121, 119, 119);
}

.search-btn--salary {
    margin: 0 20px;
    background: radial-gradient(rgb(205, 110, 22), rgb(255, 0, 0));
}
