@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
    --primary: #c32032;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    display: flex;
    justify-content: center;
    background: rgb(238, 174, 202);
    background: gradient(rgb(243, 127, 177), rgb(255, 213, 0));
    background-image: url('https://img.freepik.com/free-vector/gradient-smooth-background_23-2148976779.jpg?w=2000');
}
