.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #e15b5b4d;
}

.logo-box {
    position: relative;
    z-index: 9999;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    border-radius: 50%;
    border: solid 2px #fff;
}

.logo-img {
    width: 100px;
    height: 100px;
    transform: scale(0.6);
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.logo-img:hover {
    transform: scale(0.7) rotate(-12deg);
}

.bg-group {
    position: absolute;
    display: flex;
    left: 110%;
}

.bg-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    border: solid 2px #fff;
    box-shadow: 0 2px 10px #333;
    animation-name: fadeIn 0.5s ease-in-out forwards;

    &:hover {
        transform: scale(1.1);
    }

    & + .bg-item {
        margin-left: 10px;
    }
}

.bg-item--a {
    background-color: rgb(255, 128, 0);
}

.bg-item--b {
    background-color: rgb(255, 170, 0);
}

.bg-item--c {
    background-color: gold;
}

.bg-item--d {
    background-color: rgb(86, 120, 110);
}

.manage-btn {
    width: 100px;
    height: 40px;
    border-color: var(--primary);
    border-radius: 5555px;
    font-size: 1rem;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.manage-btn:hover {
    opacity: 0.9;
    transform: rotate(4deg);
}
