.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    width: 300px;
    height: 80%;
    border-radius: 20px;
}

.search-input {
    text-align: center;
    outline: none;
    height: 40px;
    padding: 0 20px;
    margin-right: 6px;
    flex: 2;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(249, 0, 0, 1) 100%);
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    caret-color: red;
    color: rgb(255, 237, 252);
    overflow: hidden;
    text-decoration: none;
}

.search-icon {
    margin-right: 6px;
    width: 30px;
    height: 30px;
    border: solid 1px gold;
    box-shadow: 0 0 15px gold;
    border-radius: 50%;
    background-color: antiquewhite;
    color: rgb(63, 0, 52);
    font-size: 24px;
    cursor: pointer;
}

.out-right {
    animation: fadeOut 1.5s ease-in-out;
}

.staff-name {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin-left: -40px;
    transition: 1s;
    color: #666;
    span {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        color: rgb(49, 47, 47);
        font-size: 1.2rem;
        margin-left: 8px;
        padding: 2px 10px;
        border-bottom: solid 2px rgb(12, 183, 0);
        border-radius: 555px;
    }
}

@keyframes fadeOut {
    50% {
        opacity: 1;
        transform: translateX(25px);
    }
    100% {
        opacity: 0;
        transform: translateX(40px);
        color: red;
    }
}

@keyframes borderName {
    100% {
        transform: rotate(360deg);
    }
}

.toast-message {
    background: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}
