.wrapper {
    width: 100%;
    height: calc(100vh - 20px);
    overflow: scroll;
}

.header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.search-action {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    display: flex;
    width: 44%;
    height: 60%;
}

.items,
.now-btn {
    width: 16%;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border: solid 2px rgb(159, 45, 45);
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;
}

.now-btn {
    width: 150px;
    height: auto;
    & + .now-btn {
        margin-left: 20px;
    }

    &:hover {
        animation: changeBgColor linear 0.2s forwards;
    }

    &.active {
        background-color: #333;
        color: #fff;
    }
}

.action-item:hover {
    animation: changeBgColor linear 0.2s forwards;
}

@keyframes changeBgColor {
    to {
        background-color: #333;
        color: #fff;
    }
}

.date-item {
    width: 70px;
    height: 40px;
    margin-top: 0;
    border: solid 2px rgb(159, 45, 45);
    text-align: center;
    text-align-last: center;
    font-weight: 600;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    & + .date-item {
        border-left: none;
    }

    &:first-child {
        border-top-left-radius: 14px;
    }

    &:nth-child(3) {
        border-bottom-right-radius: 14px;
    }

    &:nth-child(4) {
        width: 100px;
        border-radius: 44px;
        margin-left: 20px;
        border-left: solid 2px rgb(159, 45, 45);
    }

    &:hover {
        animation: changeBgColor linear 0.2s forwards;
    }
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.date-time-btn {
    margin: left;
}

.content {
    padding-top: 10px;
    padding-bottom: 200px;
}

// table
.styled-table {
    border-collapse: collapse;
    margin-top: 4px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-height: 300px;
    background-color: #2a2929c9;
    color: #fff;
}

.styled-table thead tr {
    z-index: 1;
    background: #333;

    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 8px 10px;
}

.styled-table td:nth-child(2) {
    text-align: center;
    padding-right: 0;
}

.styled-table th:nth-child(3),
.styled-table td:nth-child(3) {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}

.styled-table td:first-child {
    text-align: center;
}

.styled-table td:last-child {
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    // background-color: #4241415b;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #333;
}

.detal-btn {
    position: relative;
    transform-origin: calc(100% - 10px) top;
}

.break-btn-box {
    position: relative;
}

.update-btn,
.delete-btn,
.break-btn {
    width: 70px;
    height: 30px;
    border-radius: 55px;
    border: none;
    cursor: pointer;
    background-color: #252422cb;
    color: rgb(235, 229, 229);
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 0.8;
    }
}

.delete-btn {
    color: #fff;
}

.break-btn,
.update-btn {
    background: linear-gradient(20deg, #c20bffcb, rgb(255, 25, 25));
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.online-icon {
    color: #0ef30e;

    &.breaking-icon {
        color: gold;
    }
}

.off-icon {
    color: #cf0101;
}

// popover

.break-btn.detal-show ~ .break-popover {
    display: flex;
}

// .break-btn:hover ~ .break-popover {
//     display: flex;
// }

.break-popover {
    position: absolute;
    top: -18px;
    right: 114%;
    width: 330px;
    padding: 10px;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, #375650 100%);
    color: #fff;
    z-index: 1;
    display: none;
    flex-direction: column;
    transform-origin: calc(100% - 10px) top;
    animation: showDetal ease-in 0.3s;
    box-shadow: -2px 2px 15px #666, 0 -2px 20px #fff;
    border-radius: 6px;
    cursor: default;

    &::before {
        content: '';
        border-width: 10px 12px;
        border-style: solid;
        border-right: none;
        border-color: transparent transparent transparent #34504b;
        position: absolute;
        right: -10px;
        top: 22px;
    }
}

.popover-group {
    border-bottom: solid 1px #333;
    display: flex;
    align-items: center;

    &:last-child {
        border-bottom: none;
    }
}

.group-title {
    width: 130px;
    padding: 4px;
    margin: 1px;
    border-right: solid 1px #333;
    font-weight: 600;
    text-transform: uppercase;
    font-size: x-small;
}

.group-data {
    line-height: 100%;
    margin: 0 12px;
    text-transform: uppercase;
    font-size: x-small;
}

.break-total {
    position: relative;
    margin-left: 50px;
}

.right-icon {
    color: #fff;
    position: absolute;
    right: 45px;
    font-weight: 600;
}

.date {
    padding-left: 20px;
}

.to {
    color: #fff;
    padding: 0 6px;
}

// download button
.download-btn {
    position: fixed;
    bottom: 20px;
    right: 150px;
    width: 150px;
    font-size: medium;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: all 0.7;

    &:hover {
        opacity: 0.8;
    }
}

.download-icon {
    padding: 0 8px;
    color: #28fe24;
}

@keyframes showDetal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-wrapper {
    position: fixed;
    background-color: #00000074;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .modal-box {
        position: relative;
        width: 500px;
        height: 300px;
        background: linear-gradient(25deg, rgb(255, 93, 93), rgb(162, 162, 247), rgb(255, 93, 93));
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 60px;
        border-radius: 10px;
        color: #333;
        animation: show 0.5s ease-in-out;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: scale(0.6) translate(500px, -150px);
        }
        to {
            opacity: 1;
            transform: scale(1) translateX(0);
        }
    }

    .heading {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 12px;
        color: rgb(0, 0, 0);
    }

    .login-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .group-item {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .item-title {
        font-weight: 600;
        font-size: 1.1rem;
        padding: 2px;
    }

    .item-input {
        font-size: 1rem;
        height: 30px;
        border-radius: 6px;
        outline: none;
        border: solid 1px transparent;
        background-color: #ffffff80;
        padding: 4px 14px;
        margin-bottom: 8px;
        font-weight: 600;
        color: #555;

        &:focus {
            border-color: aqua;
            background-color: #ffffffc9;
        }
    }

    .item-input--password {
        letter-spacing: 3px;
    }

    .login-btn {
        height: 40px;
        margin-top: 18px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        background-color: rgb(206, 24, 88);
        color: #fff;
        box-shadow: 0 0 10px #666;
        transform: all 0.5s linear;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            opacity: 0.8;
        }
    }

    .close-btn {
        position: absolute;
        top: 4px;
        right: 4px;
        background-color: rgb(0, 0, 0);
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        transition: 0.5;

        &:hover {
            opacity: 0.7;
        }
    }
}

.total-time {
    color: rgb(132, 128, 128);
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.645);
    text-transform: uppercase;
    width: 400px;
    margin: 10px auto;
    border-radius: 8px;
    animation: show 1s ease-in-out forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.total-time-result {
    color: green;
    padding-left: 20px;
    font-size: 1.2rem;
}
